[Unit]
Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=elasticsearch
Group=elasticsearch
ExecStart=/home/ubuntu/elasticsearch-7.13.2//bin/elasticsearch
Restart=on-failure
TimeoutStopSec=20
LimitMEMLOCK=infinity
TimeoutStartSec=75
Environment=ES_HOME=/home/ubuntu/elasticsearch-7.13.2/
Environment=ES_PATH_CONF=/home/ubuntu/elasticsearch-7.13.2//config
Environment=PID_DIR=/var/run/elasticsearch
Environment=ES_SD_NOTIFY=true
WorkingDirectory=/home/ubuntu/elasticsearch-7.13.2/

[Install]
WantedBy=multi-user.target
